.logotipo{
    width: 250px;
    padding-left: 20%;
}
.banner{
    height: 270px;
    width: 100%;
}

.circular{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.banner2{
    height: 260px;
    width: 100%;
}

.card-img-top {
    height: 340px;
    object-fit: cover;
}
